<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Days+One|Give+You+Glory" rel="stylesheet">

    <title>Home</title>
    <style media="screen">
        body{
            background-image: url('https://images.pexels.com/photos/618116/pexels-photo-618116.jpeg?w=940&h=650&auto=compress&cs=tinysrgb') !important;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Days One', sans-serif;
            font-family: 'Give You Glory', cursive;
        }
        html , body , .container , .row {
            height: 100%;
        }
        #col2{
       background-color: hsla(50,0%,0%,0.6);
            border-width:thick;
        }
        h2{
            color: azure;
            padding: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div id="col2" class="col-8">
            <h2> The state of education in Third World Countries has been a focus of international forums for many years. In this lesson,
                we will explore the education system, or lack thereof, in these countries in greater detail.</h2>
            <a href="indexx.ejs" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Learn More!</a>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>